__pycache__/
*.egg-info/
*.egg
*.spec
*.mo
*.pot
*.log
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.py[co]
*.swp
.DS_Store
.env
env
.local
db.sqlite3
instance
migrations
static/dist
static/node_modules
static/webpack-stats.json
